body {
  background-color: rgb(4, 4, 40);
  color: white;
  font-family: sans-serif;
  height: 100vh;
  margin: 0px;
}

.page-container {
  display: grid;
  height: 80%;
  grid-template-rows: 100px 1fr;
  margin-left: 60px;
  margin-right: 60px;
  max-width: 800px;
  min-width: 600px;
}

h1 {
  cursor: pointer;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
  font-size: 40px;
}

h3 {
    font-size: 28px;
    text-decoration: underline dotted;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.zip-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

textarea,
input {
  outline: none;
  background-color: transparent;
  border: none;
}

.zip-entry {
  height: 20px;
  width: 60px;
  font-size: 16px;
  border-bottom: 1px solid white;
  color: white;
  text-align: center;
}

.data-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.today, .forecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.today {
    align-items: left;
}

.forecast {
    align-items: end;
    text-align: end;
}

.temp-container {
    display: flex;
    align-items: start;
}

.current-temp {
    font-size: 100px;
}

.units {
    margin-top: 20px;
    font-size: 24px;
    cursor: pointer;
}

.day-container {
    display: flex;
    gap: 30px;
}